<div class="tab-selector">

</div>

    <div class="home-container">
      <div class="login-image">


        <center> <%= image_tag("ClearZorcely.png", size: "200x200") %> </center>


<div class="signup-panel">
  <div class="container login">
    <div class="card"></div>
    <div class="card">




<center> <h2>Sign up</h2> </center>

<div class="input-container" >
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


<div class="names-register">

  <div class="field">
    <%= f.input :first_name, label: false, placeholder: 'First Name' %>
      <center class="bar"> </center>
  </div>




  <div class="field">
    <%= f.input :last_name, label: false, placeholder: 'Last Name' %>
  </div>
</div>

  <div class="field">
    <%= f.input :email, label: false, placeholder: 'Email' %>
    <center class="bar"> </center>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
  <%= f.input :password, label: false, placeholder: 'Password' %>
  </div>

  <div class="field">
    <%= f.input :password_confirmation, label: false, placeholder: 'Password Confirmation' %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up" %>
      <center class="bar"> </center>
  </div>
<% end %>

<center> <%= render "devise/shared/links" %> </center>
