
<div class="home-container">
<div class="password-image">

<center> <%= image_tag("ClearZorcely.png", size: "200x200") %> </center>

</head>
<body>


  <div class="container">
    <div class="card"></div>
    <div class="card">

<center> <h3>Reset Your Password</h3> </center>

<div>


 <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div> <%= devise_error_messages! %> <div>



<div class="input-container">
  <center> <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true  %>


  <%= f.submit "Reset Password" %>
      <center class="bar"></center>


  </div>


<% end %>
