<div class="card">   <h3 class="header center orange-text text-lighten-2">Project Details</h3> </div>
<div class="card">

<div class="project container below-cover">
  <div class="project name">
<center> <h5> <%= @project.project_name %> <h5> </center>
  </div>



  <div class="project summary">
    <div class="title">
    <center>   Summary: </center>
    </div>
    <div class="block">
  <center>  <h5>   <%= @project.project_summary %> <h5> </center>
    </div>
  </div>

  <div class="project description">
    <div class="title">

    <center> Description: </center>
    </div>
  <center>  <h5> <%= @project.project_description %> <h5> </center>
  </div>

  <div class="project resource">
    <div class="title">
  <center>  Resource Requirements: </center>
    </div>
  <center>  <h5> <%= @project.resource_requirements %> <h5> </center>
  </div>

  <div class="project in_kind">
    <div class="title">
  <center> In Kind: </center>
    </div>
  <center>  <h5> <%= @project.in_kind %> <h5> </center>
  </div>

  <div class="project volunteer_amount">
    <div class="title">
  <center> Volunteer Amount: </center>
    </div>
  <center> <h5>  <%= @project.volunteer_amount %> <h5> </center>
  </div>

  <div class="project project_value">
    <div class="title">
    <center>   Project Value: </center>
    </div>
    <center> <h5> <%= @project.project_value %> <h5> </center>
  </div>

<center> <h5>  <%= link_to "Edit", edit_organization_path %> <h5> </center>

</div>
