<div class="home-container">
<div class="login-image">

  <center> <%= image_tag("ClearZorcely.png", size: "200x200") %> </center>

  <h3 class="header center white-text text-lighten-2">Welcome to Zorcely</h3>

  <div class="container login">
    <div class="card"></div>
    <div class="card">




<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="input-container" >
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>

  </div>

<div class="input-container">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>

  </div>


      <div class="input-container">


       <%= f.submit "Login" %>
      <center class="bar"></center>

 <% end %>

 <center> <%= render "devise/shared/links" %> </center>
