<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login To Zorcely</title>



    <div class="home-container">


  </head>
<body>


<div class="login-image">

<center> <%= image_tag("ClearZorcely.png", size: "200x200") %> </center>



  <div class="container">
    <div class="card"></div>
    <div class="card">




      <form>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>


    <div class="input-container" >
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <center class="bar"> </center>
  </div>

<div class="bar">
<div class="input-container">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <center class="bar"> </center>
  </div>





  <% if devise_mapping.rememberable? -%>
          <div class="field">
      <center> <%= f.check_box :remember_me %> </center>
      <center> <%= f.label :remember_me %> </center>
    </div>
  <% end -%>

      <div class="button-container">




    <button> <%= f.submit "Login" %> </button>


  </div>

 <% end %>

 <center> <%= render "devise/shared/links" %> </center>
