




<div class="organization cover">
  <div class="row center">
     <%= image_tag attachment_url(@organization, :company_logo, :fill, 0, 120, format: "jpg") %>
  </div>
</div>

<div class="card">
<h3 class="header center orange-text text-lighten-2">About us</h3> </div>
<div class="card">
<center>  <h3> Organization:  <%= @organization.organization_name %>  <h3> </center>

<div class="organization container below-cover">

  <div class="organization name">

  </div>


  <center> <div class="organization summary"> </center>
<center  <div class="title">
      Summary:

    </div>
    <div class="block">
 <center>  <%= @organization.organization_summary %> </center>


 <div class="card">
 <div class="card">

    </div>
  </div>



<center>  <div class="organization description"> </center>
<center    <div class="title">

    Description:

    </div>
<center>   <%= @organization.organization_description %> </center>
  </div>



<center>  <%= link_to "Edit", edit_organization_path %> </center>

</div>
