  <%= link_to "Add Project", new_project_path(:organization_id => "#{@organization.id}") %>

<div class="organization cover">
  <div class="row center">
    <%= image_tag attachment_url(@organization, :company_logo, :fill, 0, 120, format: "jpg") %>
  </div>
</div>

<div class="organization container below-cover">
  <div class="organization name">
    <%= @organization.organization_name %>
  </div>

  <div class="organization summary">
    <div class="title">
      Summary:
    </div>
    <div class="block">
      <%= @organization.organization_summary %>
    </div>
  </div>

  <div class="organization description">
    <div class="title">
      Description:
    </div>
    <%= @organization.organization_description %>
  </div>

  <div class="organization projects">
    <div class="title">
      Projects:
    </div>
    <% @organization.projects.each do |project| %>
    <%= link_to "#{project.project_name}", project_path(project) %>
    <%= project.project_summary %>
    <% end %>

  </div>

  <%= link_to "Edit", edit_organization_path %>

</div>
