
 <center> <button class="btn waves-effect white">
  <%= link_to "Add Project", new_project_path(:organization_id => "#{@organization.id}") %>
 </center>





<div class="organization cover">
  <div class="row center">
     <%= image_tag attachment_url(@organization, :company_logo, :fill, 0, 120, format: "jpg") %>
  </div>
</div>

<div class="card">
<h3 class="header center orange-text text-lighten-2">About</h3> </div>
<div class="card">
<center>  <h3> <%= @organization.organization_name %>  <h3> </center>

<div class="organization container below-cover">

  <div class="organization name">

  </div>



  <center> <div class="organization summary"> </center>
<center  <div class="title">
  <center>  Startup Summary </center>


    </div>
    <div class="block">
 <center>  <h5> <%= @organization.organization_summary %> <h5> </center>


 <div>
 <div>


    </div>
  </div>



<center>  <div class="organization description"> </center>
<center    <div class="title">

    Description

    </div>
<center> <h5>  <%= @organization.organization_description %> <h5> </center>
  </div>

  <div class="card">



<center>  <div class="organization projects"> </center>
  <center  <div class="title">
      organization Projects
    </div>

    <div class="card">


  <center>  <h5> <% @organization.projects.each do |project| %> <h5> </center>
    <center> <h5> <%= link_to "#{project.project_name}", project_path(project) %> <h5> </center>
  <center>  <h5> <%= project.project_summary %> <h5> </center>
    <% end %>

  </div>


 <center> <button class="btn waves-effect white"> <%= link_to "Edit", edit_organization_path %> </center>

</div>
